*{
    box-sizing: border-box;
} 
#container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container>div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }

.square{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background: red;
}
.square:hover{
    background: green;
}